@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #0f2b1d 0%, #000500 100%);
  /* Deep Emerald to Black Radial Gradient */
  overflow: hidden;
}